.container {
  height: 100vh;
  background-image: var(--gradient);
  box-sizing: border-box;
  overflow: hidden;
}
main {
  padding: 13px 15px 0 15px;
}
.title {
  font-size: 2.3em;
}
.content {
  height: 75vh;
  overflow-y: scroll;
}
