.container {
  width: 100%;
  height: 75vh;
  border-radius: 8px;
  background-color: white;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.title {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 10px;
  padding-top: 20px;
  box-sizing: content-box;
  background-color: white;
  transform: translateY(1px);
  display: flex;
}
.category {
  text-align: center;
  display: flex;
  animation: appear 0.3s;
  background-color: #e2eef3;
  /* min-width: 30%; */
  /* width: 40%; */
  border-radius: 20px;
  height: 30px;
  display: flex;
  margin-left: auto;
  justify-content: center;
  padding: 2px;
  padding-right: 8px;
}
.categoryActive {
  background-color: white;
}
.category:hover {
  cursor: pointer;
}
.categoryColor {
  height: 20px;
  width: 20px;
  margin-left: 5px;
  background-color: #166a8e;
  border-radius: 100%;
  align-self: center;
}
.categoryColorActive {
  display: none;
}
.categoryName {
  padding: 4px;
  color: #166a8e;
}
.categoryNameActive {
  display: none;
}
.categoryList {
  visibility: hidden;
  width: 0px;
  height: 0px;
  background-color: white;
  margin-left: auto;
  transition: 0.3s;
  z-index: 4;
}
.categoryList > div {
  margin: 5px 0;
  padding: 5px 10px;
}
.categoryListActive {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  animation: dropDown 0.3s forwards;
}
.input {
  padding: 0;
  width: 100%;
}
.title > input[type='text'] {
  width: 55%;
  overflow: hidden;
  text-overflow: ellipsis;
  border: hidden;
  font-size: 24px;
  font-weight: bold;
}
.editorWrapper {
  min-height: 89%;
}

@keyframes dropDown {
  1% {
    visibility: visible;
  }
  100% {
    width: 100%;
    visibility: visible;
  }
}
