.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  background-image: var(--gradient);
}
.main {
  align-self: center;
  text-align: center;
  width: 80%;
  z-index: 2;
}
.main form {
  margin-top: 50px;
}
.main form ~ p {
  color: rgba(255, 255, 255, 0.5);
  margin: 8px 0;
  text-transform: uppercase;
  font-size: 12px;
}
.noaccount {
  text-transform: none !important;
  font-size: 18px !important;
  color: white !important;
}
.noaccount a {
  text-decoration: underline;
  color: white;
}
.google img {
  height: 30px;
  width: 30px;
  align-self: center;
}
.google span {
  align-self: center;
  margin-left: 10px;
}
.google {
  display: flex;
  justify-content: center;
}
